@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url(https://static.vecteezy.com/system/resources/previews/029/697/736/non_2x/watercolor-trendy-minimalistic-pink-flower-rose-cute-plant-seamless-pattern-on-transparent-background-for-wedding-invitation-greeting-card-packaging-paper-fabrics-wrapping-gifts-stickers-png.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    width: 80%;
    height: 80vh;
    background-image: url(https://i.pinimg.com/236x/b5/8f/18/b58f18806c0f54f7c50ab9adf66eb66c.jpg);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}


.button_box {
    width: 180px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
  align-items: center;
  appearance: none;
  background-color: red;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Amatic SC", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
  align-self: flex-start;
  width: 80px;
}

.btn:focus {
  box-shadow: black 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, green 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #F38BA4 0 3px 7px inset;
  transform: translateY(2px);
}



.btn2 {
    align-items: center;
    appearance: none;
    background-color: red;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Amatic SC", sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    align-self: flex-end;
    width: 80px;

  }
  
  .btn2:focus {
    box-shadow: black 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .btn2:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, green 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn2:active {
    box-shadow: #F38BA4 0 3px 7px inset;
    transform: translateY(2px);
  }